body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(rgb(215, 215, 215) 1px, transparent 1px),
    radial-gradient(rgb(215, 215, 215) 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: 0px 0px, 25px 25px;
  color: #000;
}

a {
  color: #000;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
}

.logo {
  text-align: center;
}

.logo div {
  margin-top: -18px;
  margin-left: 84px;
}

.logo svg {
  height: 80px;
  margin: auto;
  display: flex;
}

.features {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.features > div {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: calc(100% - 50px);
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.05);
}

.features ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.features ul li {
  margin-bottom: 15px;
}

.features ul li:before {
  content: '✅';
  margin-right: 5px;
}

.features ul li:last-child {
  margin-bottom: 0;
}

.features > div h1 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 24px;
}

.features > div p {
  font-style: italic;
  margin-top: 4px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.get-started {
  margin-top: 50px;
}

.get-started a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

.get-started a span {
  font-size: 24px;
  margin-left: 20px;
}
